.homeins-main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homeinsurance-main
{
    width: 80%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.homeinsurance-main .homeinsurance-content h3{
    font-weight: 500;
    font-size: 15px;
}
.homeinsurance-main .homeinsurance-content .btn{
    margin-left: auto;
    margin-right: auto;
}