.login-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .login-container01 {
    gap: 2rem;
    width: 778px;
    height: 700px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    padding-bottom: 10px;
    justify-content: center;
  }
  .login-container02 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
  }
  .login-container01 input{
    width: 30vh;
    height: 3vh;
    outline: none;
    padding: 10px;
    font-size: 15px;
  }
  .login-container08 input, .login-container09 input{
    width: 20vh;
    height: 2vh;
    outline: none;
    padding: 10px;
    font-size: 18px;
    margin-left: auto;
  }
  .login-container01 textarea{
    width: 63vh;
    height: 10vh;
    outline: none;
    padding: 10px;
    font-size: 17px;
    font-family: 'Montserrat';
  }
  .login-container01 select{
    width: 30vh;
    height: 3vh;
    outline: none;
    padding: 2px;
    font-size: 10px;
  }
  .login-container03 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
  }
  .login-container04 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
  }
  .login-textarea {
    width: 517px;
    height: 80px;
  }
  .login-container05 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
  }
  .login-container06 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .login-container07 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
  }
  .login-textarea1 {
    width: 523px;
    height: 104px;
  }
  .login-container08 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .login-container09 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .login-container10 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .login-container10 button{
    flex: 0 0 auto;
    width: 20vh;
    height: 5vh;
    display: flex;
    cursor: pointer;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    border-radius: 15px;
    font-size: 15px;
    background-color: rgb(219, 239, 149);
    border: none;
  }